.content{
    text-align: center;
    padding: 70px;
    margin: 0 auto; /* Centers it horizontally */
    
}

.search-trans {
    display: flex;
    align-items: center;
    background-color: #f0ecec;
    padding: 12px 20px;
    border-radius: 50px;
    width: 400px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    
    margin: 40px auto; /* Centers it horizontally */
}

.search-trans input {
    border: none;
    background-color: transparent;
    outline: none;
    color: #131111;
    font-size: 16px;
    padding: 0 10px;
    width: 100%;
}

.dark .content{
    color: #fff;
}

