.content{
    flex: 1 0 auto;
    text-align: center;
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

.content h1 {
    color: #fff;
    margin: 0; /* Remove default margin */
}

.search-trans {
    display: flex;
    align-items: center;
    background-color: #000000;
    padding: 12px 25px;
    border-radius: 50px;
    width: 450px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    
    margin: 40px auto; /* Centers it horizontally */
}

.search-trans input {
    border: none;
    background-color: transparent;
    outline: none;
    color: #131111;
    font-size: 16px;
    padding: 0 10px;
    width: 100%;
}

.dark .content{
    color: #fff;
}

.dark .search-trans{
    background: #fff;
}

.dark .search-trans input {
    color: #222;
}

.search-trans input::placeholder {
    color: #fff;
}

.dark .search-trans input::placeholder {
    color: #222;
}

.search-trans img {
    width: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .search-trans {
        width: 90%;
        max-width: 400px;
    }
    
    .content {
        padding: 30px 15px;
    }
}
